DEBUG=1
SECRET_KEY='django-insecure--z0e_a=ri!cw^^djm*xp(b^%687rxrz1+*l_=ov4dcj-9^14r9'
DJANGO_ALLOWED_HOSTS="localhost 127.0.0.1 [::1]"

# DATABASE CONFIG
DB_NAME="projigl"
DB_USER="root"
DB_PASSWORD="A7319@miasm#PURPUL"
DB_HOST="localhost"
DB_PORT="3306"
